#login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#login-page .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: var(--color-primary-lighter);
}

#login-page .left h1 {
  font: 5.6rem Poppins;
  color: var(--color-background);
}

#login-page main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-shadow: 1px 1px 2px black, 0 0 5px black, 0 0 10px black;
}

#login-page .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 80%;
}

#login-page .right .container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  height: 60%;
}

#login-page .right .container-form legend {
  font-size: 3.2rem;
}

#login-page .right .container-form fieldset {
  border: 0;
}

#login-page form button[type="submit"] {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  outline: none;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#login-page form button[type="submit"]:hover {
  background: var(--color-secundary-dark);
}
